# Using https://github.com/github/gitignore/blob/master/Python.gitignore

# IDE/language servers
compile_commands.json
.vscode/

# Notes
SCRIBBLE.md

# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
build/
inst/

# Environments
.env
.venv
env/
venv/

# Cache directories
.cache/
*_cache/
.deps/

# Run outputs
run*/
pytest-*/

# make dev artifacts
**/*.so
